<span class="chatname" style="color:@StartColor">* @Name </span>
<FormatText Text="@Text" StartColor="@StartColor" />
@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string StartColor { get; set; }
}