<span class="chatname" style="color:@NameColor">@Name&gt; </span>
<FormatText Text="@Text" StartColor="@TextColor" />
@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string NameColor { get; set; }

    [Parameter]
    public string TextColor { get; set; }
}