@inject ChatClient ChatClient
<div class="d-flex-row-expand loading">
    <img class="row ipulse-always" src="images/zorbo.png" alt="Zorbo the Turtle!" />
</div>
@code {

    [Parameter]
    public string Message { get; set; }


    protected override void OnInitialized()
    {
        ChatClient.HeaderText = Message;
    }

}