@inherits LayoutComponentBase
@inject ChatClient ChatClient
@implements IDisposable
<div class="d-flex-col-expand h-100">
    <CookieConsent />
    <div class="d-flex-row-expand">
        <NavMenu @bind-IsShowing="@ChatClient.IsShowingMenu" />
        <div class="d-flex-col-expand">
            <div class="d-flex">
                <nav class="d-flex-row-expand navbar navbar-expand navbar-dark mainmenu">
                    <button class="navbar-toggler @MenuBtnCssClass" @onclick="ToggleNavMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <HeaderText @bind-Text="@ChatClient.HeaderText" />
                    <ul class="nav">
                        <li class="nav-item right">
                            <NavLink class="nav-link" href="settings">
                                <span class="oi oi-cog" aria-hidden="true"></span>
                            </NavLink>
                        </li>
                        <li class="nav-item right">
                            <a href="about" title="About Zorbo"><img src="images/zorbo.png" alt="Zorbo the Turtle" /></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content d-flex-row-expand">
                <div class="d-flex-col-expand">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
@code { 
    protected override void OnInitialized()
    {
        ChatClient.PropertyChanged += OnChatClientPropertyChanged;
    }

    private void ToggleNavMenu()
    {
        ChatClient.IsShowingMenu = !ChatClient.IsShowingMenu;
    }

    private void OnChatClientPropertyChanged(object sender, PropertyChangedEventArgs e)
    {
        switch (e.PropertyName) {
            case nameof(ChatClient.IsShowingMenu):
            case nameof(ChatClient.HeaderText):
                StateHasChanged();
                break;
        }
    }

    public void Dispose() 
    {
        ChatClient.PropertyChanged -= OnChatClientPropertyChanged;
    }

    private string MenuBtnCssClass => ChatClient.IsShowingMenu ? "hidden" : null;
}